.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  color: white;

}

.logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 100%;
}

.logo h3 {
  background-color: #1C82AD;
  width: 100%;
  text-align: center;
  padding: 1.3rem 0;
  border-radius: 3px;
}

.options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.questions {
  width: 100%;
  color: white;
}

.btn-option {
  width: 48%;
  color: white;
  border: 3px solid #00337C ;
  border-radius: 7px;
  margin: 2px;
  padding: 1rem 0;
  background-color: #03C988;
  text-transform: uppercase;
  font-size: larger;
  cursor: pointer;

}

.btn-option:hover {
  background-color: #00337C ;
  border: 3px solid #03C988;
}

.btn-option:active {
  position: relative;
  top: 1px;
}

.results {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #00337C;
  border-radius: 5px;
}

.results > h3 {
  width: 100%;
  padding-left: 2.5rem;
  background-color: transparent;

}
